# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.*

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
